/* Write your CSS here */
.product-item-details-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .product-item-details-container {
    margin-top: 64px;
  }
}

.product-details-success-view {
  width: 85%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .product-details-success-view {
    width: 80%;
    max-width: 1110px;
  }
}

.product-details-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}

.product-image {
  border-radius: 16px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .product-image {
    width: 48%;
    max-width: 548px;
    max-height: 576px;
  }
  .product {
    width: 48%;
  }
}

.product-name {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .product-name {
    font-size: 48px;
    margin-top: 0px;
  }
}

.product-price {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.rating-and-reviews-container {
  display: flex;
  align-items: center;
}

.reviews-count {
  color: #12022f;
  font-family: 'Open Sans';
  margin-left: 14px;
  font-size: 14px;
}

.product-description {
  font-family: 'Roboto';
  color: #616e7c;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .product-description {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.label-value-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

.value {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 6px;
  font-weight: 400;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 18px;
  }
  .value {
    font-size: 18px;
  }
}

.horizontal-line {
  border-top: 1px solid #cbced2;
  margin: 0px;
}

.quantity-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.quantity-controller-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.quality-controller-icon {
  color: #616e7c;
  width: 16px;
  height: 16px;
}

.quantity {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.button {
  color: #ffffff;
  background-color: #3b82f6;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  padding: 12px 16px 12px 16px;
}

.add-to-cart-button {
  font-size: 12px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .add-to-cart-button {
    font-size: 14px;
    margin-bottom: 48px;
  }
}

.similar-product-heading {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .similar-product-heading {
    font-size: 32px;
  }
}

.similar-product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .similar-product-list {
    margin-top: 24px;
    flex-direction: row;
  }
}

.product-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.product-details-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.failure-image {
  width: 300px;
  height: 165px;
}

@media screen and (min-width: 768px) {
  .failure-image {
    width: 540px;
    height: 290px;
  }
}

.failure-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  margin-top: 48px;
}
